<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controlenotasfrequencia">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControleNotasFrequencia">
        <activity
            android:label="@string/disciplinas"
            android:name=".cadastrodisciplina.ListaDisciplinaActivity"
            android:exported="false" />
        <activity
            android:name=".cadastrodisciplina.CadastroDisciplinaActivity"
            android:exported="false"
            android:label="@string/cadastroDisciplina" />
        <activity
            android:label="@string/professores"
            android:name=".cadastroprofessor.ListaProfessorActivity"
            android:exported="false" />
        <activity
            android:name=".cadastroprofessor.CadastroProfessorActivity"
            android:exported="false"
            android:label="@string/cadastroProfessor" />
        <activity
            android:label="@string/turmas"
            android:name=".cadastroTurma.ListaTurmaActivity"
            android:exported="false" />
        <activity
            android:label="@string/cadastroTurma"
            android:name=".cadastroTurma.CadastroTurmaActivity"
            android:exported="false" />
        <activity
            android:name=".cadastroaluno.ListaAlunoActivity"
            android:exported="false"
            android:label="@string/alunos" />
        <activity
            android:name=".cadastroaluno.CadastroAlunoActivity"
            android:exported="false"
            android:label="@string/cadastroAluno" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.controlenotasfrequencia.domain" />
        <meta-data
            android:name="DATABASE"
            android:value="controle_notas_frequencia.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
    </application>

</manifest>